@import url('https://fonts.cdnfonts.com/css/poppins');

*{
    font-family:'Poppins', sans-serif;
}

body{
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.loader{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #121212;
}